body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(107, 109, 111);
  background: url('http://www.hdwallpaperpc.com/preview/Cat_Stretch_38081/resolution_1280x800');
  background-repeat: no-repeat;
}

hr {
  display: none;
}

div.stretch-info {
  width: auto;
  height: 47px;
  padding-top: 15px;
}

p.stretch-info {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: pink;
}

h1 {
  text-align: center;
  font-size: 40pt;
  color: white;
  text-shadow: 6px 6px 10px black;
  margin: 14px;
}

h2 {
  font-size: 24pt;
  margin: 0 0 15px 0;
  color: white;
  text-shadow: 3px 3px 3px black;
}

#session {
  background-color: rgba(156, 156, 255, 0.8);
  border: 4px solid purple;
  /* padding: 20px; */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 17px;
  padding-bottom: 20px;
  margin: 0px -20px;
  box-shadow: 6px 6px 10px black;
  line-height: 1.3;
  box-sizing: border-box;
  /* border-radius: 27px; */
  height: auto;
}

#session button {
  width: 100px;
  position: absolute;
  display: inline-block;
  background-color: rgb(202, 145, 255);
}

button#login {
  position: relative;
}

button#signup {
  position: relative;
}

#routine-new input {
  border-radius: 30px;
  font-size: 14pt;
  margin: 10px 0;
  border: 3px solid purple;
  box-shadow: 3px 3px 6px black;
  width: 254px;
}
#routine-new button {
  background-color: purple;
  margin-top: 20px;
  color: white;
  font-style: bold;
  font-size: 14pt;
}

#session #user-nav {
  height: 35px;
}

#session p {
  font-size: 16pt;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
  /* background-color: rgb(202, 145, 255); */
}
#session input {
  border-radius: 30px;
}

#left-container {
  float: left;
  position: absolute;
  width: 220px;
  margin-top: 10px;
  left: 20px;
}

#main {
  content: justify;
}

#right-container {
  position: absolute;
  left: 250px;
  width: 220px;
  margin: 10px;
  height: 500px;
  overflow: scroll;
}

#all-stretches {
  position: absolute;
  right: 20px;
  width: 220px;
  overflow: scroll;
  height: 550px;
  margin: 10px;
}

#all-stretches.stretch{
  background-color: blue;
}

#stretch-modal {
  position: absolute;
  margin: 68px;
  width: auto;
  padding: 31px;
  top: 145px;
  left: 9px;
  background-color: rgba(96, 68, 101, 0.95);
  color: white;
  text-shadow: 1px 1px 3px black;
  z-index: 2;
  border-radius: 40px;
  border: 4px solid white;
  box-shadow: 14px 15px 40px black;
}
#playback {
  z-index: 3;
  top: -135px;
  position: relative;
  font-size: 171px;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 150px;
  color: magenta;
  background-color: rgba(33, 53, 91, .95);
  box-shadow: 21px 21px 45px black;
  border: 8px solid white;
  border-radius: 35px;
}

#login-username, #login-password, #login {
  display: inline;
}

#routine-name, #routine-description {
  display: inline;

}

button {
  z-index: 1;
  height: 40px;
  width: 80px;
  border-radius: 20px;
  background-color: rgba(182, 55, 0, 0.56);
  border: none;
  font-size: 10pt;
  padding: 5px;
  display: inline-block;
  box-shadow: 2px 2px 5px black;
}

button#new-routine {
  left: 30px;

}
button#show-all-routines {
  left: 140px; 
}

button#logout {
  right: 30px;
}

button#show-all-stretches {
  right: 140px;
}

.error {
  color: red;
  font-style: bold;
}

li {
  list-style: none;
}

button.add-stretch {
  height: 25px;
  background-color: rgba(13, 79, 17, 0.41);
  position: relative;
}

button.remove-stretch {
  height: 25px;
}

input {
  height: 40px;
  padding: 0 0 0 10px;
  font-size: 14pt;
}

p, span {
  margin: 5px 0px;
  font-size: 12pt;
}

p.routine-name {
  font-size: 14pt;
}

p.routine-description {
  font-size: 10pt;
}

p.stretch-directions {
  line-height: 1.3;
}
p.stretch-directions {
  line-height: 1.3;
}

#stretch-modal p, span {
  margin: 10px;
}


.routine {
  height: 100px;
  background-color: rgba(255, 255, 136, .90);
  margin: 10px 0px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px black;
  color: rgb(182, 118, 0);
  border: 4px solid orange;
  overflow: scroll;
  width: 95%;
}

.routine button {
   height: 25px;
  background-color: orange;
}

.routine-info {
  padding: 10px;
}

.routine-nav {
  height: 20px;
  text-align: center;
}

.stretch-preview {
  height: 100px;
  background-color: rgba(255, 169, 169, .95);
  margin: 10px 0px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px black;
  color: rgb(182, 55, 0);
  font-size: 14pt;
  text-align: center;
  border: 4px solid rgb(182, 55, 0);
  width: 95%;
}

.stretch-to-add {
  height: 100px;
  background-color: rgba(117, 208, 125, 0.90);
  border:  4px solid;
  color: darkgreen;
  margin: 10px 0px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 2px 2px 4px black;
  color: rgb(13, 79, 17);
  font-size: 14pt;
  text-align: center;
  width: 95%;
}

.stretch-info {
  position: relative;

}

.close-link {
  left: -10px;
  top: -10px;
  position: relative;
  font-size: 16pt;
}



.selected {
  background-color: red;
}